:root {
    --mc:#c9bdad;
    --sc:#4c453b;
    --lc:#f7f7f7;
    --dc:#333;
    --gc:#ddd;
} 

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {font-size:20px;}
body {font-size:0.8rem;color:var(--dc);background:var(--mc);font-family: 'Raleway', sans-serif;}


#Wrap {min-width:95rem;}

#header h1 {position:fixed;top:3rem;left:3rem;z-index:999;}
#header h1 a {display:block;width:5rem;}
.cls-1 {animation:pathChange 2s infinite;fill:var(--sc);}

@keyframes colorChange {
    0% {fill:#ff0;}
    50% {fill:#f00;}
    100% {fill:#ff0;}
}

@keyframes pathChange {
    0% {d:path("M486.43,153c0,72.36-103.18,131-230.45,131S25.53,225.4,25.53,153,129.3,34.29,256,22C433,4.88,486.43,80.68,486.43,153Z")}
    25% {d:path("M363.49,194.92c0,72.36-72.07,95-199.35,95S147,253.56,147,181.2,129.3,34.29,256,22C433,4.88,363.49,122.56,363.49,194.92Z")}
    50% {d:path("M363.49,194.92c0,72.36-72.07,95-199.35,95S25.53,225.4,25.53,153,129.3,34.29,256,22C433,4.88,363.49,122.56,363.49,194.92Z")}
    75% {d:path("M318.43,128.8c0,72.36-27,161.14-154.29,161.14s61.23-71.15,61.23-143.51S129.3,34.29,256,22C433,4.88,318.43,56.44,318.43,128.8Z")}
    100% {d:path("M486.43,153c0,72.36-103.18,131-230.45,131S25.53,225.4,25.53,153,129.3,34.29,256,22C433,4.88,486.43,80.68,486.43,153Z")}
}

#header nav {position:fixed;top:50%;right:3rem;transform:translateY(-50%);z-index:9999;}
#header .cover_btn {position:fixed;top:3rem;right:3rem;z-index:999;}
#header .cover_btn i {font-size:1.5rem;padding:0.5rem;background:rgba(255,255,255,0.3);}

#header nav li a {position:relative;display:block;width:3rem;height:1rem;text-indent: -99999px;}
#header nav li a:after {content:"";position:absolute;top:0.35rem;right:0;display:block;width:30%;height:0.3rem;background:var(--lc);border-radius:0.15rem;transition:0.3s;}

#header nav li.on a:after {width:100%}

/* svg effect */
.gooey {position:relative; filter:url('#bbq');}
/*filter는 복사해온거, html에 svg 코드*/
.gooey span {position:absolute;top:0;left:0;display:block;width:1.5rem;height:1.5rem;background:var(--sc);border-radius:50%;text-align:center;line-height:1.5rem;color:#fff;}
.gooey span:nth-child(2) {animation:txtAni 2s infinite;}

@keyframes txtAni {
    0% {left:0;}
    50% {left:2rem;}
    100% {left:0;}
    
}

.box_mask {width:20rem;}
.cls-2 {animation:maskAni 2s infinite;}

@keyframes maskAni {
    0% {d:path("M237.38,261,62.62,277a46.47,46.47,0,0,1-46.33-46.34V64.93A46.47,46.47,0,0,1,62.62,18.59l174.76,21a46.48,46.48,0,0,1,46.33,46.34V214.68A46.47,46.47,0,0,1,237.38,261Z")}
    50% {d:path("M237.38,286,62.62,253a46.47,46.47,0,0,1-46.33-46.34V64.93A46.47,46.47,0,0,1,62.62,18.59l174.76,21a46.48,46.48,0,0,1,46.33,46.34V239.68A46.47,46.47,0,0,1,237.38,286Z")}
    75% {d:path("M237.38,261,62.62,253a46.47,46.47,0,0,1-46.33-46.34V64.93A46.47,46.47,0,0,1,62.62,18.59l174.76,21a46.48,46.48,0,0,1,46.33,46.34V214.68A46.47,46.47,0,0,1,237.38,261Z")}
    100% {d:path("M237.38,261,62.62,277a46.47,46.47,0,0,1-46.33-46.34V64.93A46.47,46.47,0,0,1,62.62,18.59l174.76,21a46.48,46.48,0,0,1,46.33,46.34V214.68A46.47,46.47,0,0,1,237.38,261Z")}
    
}



.section {background:url(./lib/bsse/bg_pattern_wh.png);}
.section img {max-width:100%;} /*이미지 넘치지 않게*/
.container {display:grid;grid-template-columns:repeat(2,1fr);align-items:center;gap:2rem;width:70rem;margin:0 auto;position:relative;}

.section .mockup {background:url(./lib/bsse/mac11.png) no-repeat center top/100%;padding:7% 12%;}
.section .mockup figure {position:relative;padding-bottom:60%;overflow:hidden;}
.section .mockup figure img {position:absolute;top:0;left:0;width:100%;transition:2s;cursor:pointer;}
.section .mockup figure:hover img {transform:translateY(-100%);top:100%;}

.section .des {margin-left:5rem;}
.section .des h3 {font-size:2rem;font-weight:200;margin-bottom:1rem;}
.section .des p {font-size:0.75rem;margin-bottom:2rem;line-height:1.3;}
.section .des dl {display:flex;line-height:1.6;}
.section .des dl dt {font-weight:700;width:6rem;}
.section .des dl dt:before {content:"";display:inline-block;width:0.1rem;height:0.1rem;background:var(--sc);margin-right:0.5rem;vertical-align:middle;}
.section .des dl:last-of-type {margin-bottom:2rem;}
.section .des dl>dd span {display:inline-block;width:0.6rem;height:0.6rem;border-radius:50%;vertical-align:middle;}
.section .des dl>dd strong {vertical-align:middle;margin-right:0.5rem;}
.section .des dl>dd span:nth-of-type(1) {background:#0c0c0c;}
.section .des dl>dd span:nth-of-type(2) {background:#ddd;}
.section .des dl>dd span:nth-of-type(3) {background:#171717;}

.section .des ul {display:flex;line-height:2.5;gap:1rem;}
.section .des ul>li {display:inline-block;padding:0 3rem;background:var(--sc);color:#fff;font-size:1rem;font-weight:100;border-radius:0 1rem 0 0;}
.section .des ul>li:hover {background:#fff;color:var(--sc);}
.section .des ul>li>a {display:block;}



.intro figure {border-radius:38% 62% 62% 38% / 69% 68% 32% 31%;overflow:hidden;animation:img_move 2s infinite;}
.intro .container:after {content:"";display:block;position:absolute;top:3rem;right:3rem;width:5rem;height:5rem;background:var(--sc);border-radius:50%;opacity:0.3;}
.intro figure img {width:100%;}

@keyframes img_move {
    0% {border-radius:38% 62% 62% 38% / 69% 68% 32% 31%;}
    50% {border-radius:58% 42% 51% 49% / 54% 46% 54% 46%;}
    100% {border-radius:38% 62% 62% 38% / 69% 68% 32% 31%;}
}

.intro .slogan h2 {font-size:4rem;font-weight:100;margin-bottom:2rem;}
.intro .slogan p {font-size:0.75rem;font-weight:300;margin-bottom:1rem;}
.intro .slogan strong {display:blockj;font-size:1rem;font-weight:500;}

.intro .wheel {position:absolute;bottom:3rem;left:50%;transform:translateX(-50%);width:2rem;height:3.2rem;border:2px solid #444;border-radius:1rem 1rem 0.8rem 0.8rem;font-size:0;opacity:0.5;}
.intro .wheel span {position:absolute;top:0.5rem;left:50%;transform:translateX(-50%);width:0.2rem;height:0.7rem;background:#444;border-radius:0.1rem;animation:wheel 0.75s infinite;}

@keyframes wheel {
    to {top:0.7rem}
}


#footer .toTop {position:fixed;bottom:3rem;right:3rem;z-index:999;}
#footer .toTop i {font-size:1.5rem;padding:0.5rem;background:rgba(255,255,255,0.3);}
#footer address {position:fixed;bottom:3rem;left:3rem;z-index:999;}