#wrap {min-width:1200px;}

#header {}
#header h1 {text-align: center;padding:20px 0;}
#gnb {border-bottom: 1px solid #ddd;}
#gnb>ul {display: flex;justify-content: center;line-height: 60px;}
#gnb>ul>li>a {display: block;padding:0 25px;}


#main_visual {position: relative;}
#main_visual figure img {width:100%;}
#main_visual .slogan {position: absolute;top:40%;left:50%;transform: translate(-50%, -50%);color:#fff;text-align: center;width:1200px;padding:0 15px;}
#main_visual .slogan h2 {font-size: 60px; font-weight: 500;letter-spacing:0.2em;margin-bottom: 20px;}
#main_visual .slogan p {font-weight: 100;line-height: 1.6;}

#event {padding:150px 0;}
#event h2 {text-align: center;font-size: 30px;font-weight: 300;margin-bottom: 30px;}
#event .container{display:flex;width:1200px;margin:0 auto;}
#event .container figure {flex:1;padding:0 15px;}
#event .container figure img {width:100%;}

#tab_content {padding:150px 0;background: #ededed;}
#tab_content .container {width:1200px;margin:0 auto;}
#tab_content .container ul {display: flex;line-height:40px;color:#fff;}
#tab_content .container ul>li {flex:1;text-align:center;padding:0 15px;background: #333;cursor: pointer;}
#tab_content .container ul>li.on {background: #5c5345;}

#tab_content .container ul>li~li {border-left:1px solid #ededed;}
#tab_content .container .tab {background: #fff;height:100px;padding:20px;}

#tab_content .container .tab>div {display: none;}
#tab_content .container .tab>div.on {display: block;}


#footer {padding:80px 0 120px 0;background: #555;color:#fff;font-weight: 100;text-align: center;}