/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');


body {font-family: 'Red Hat Display', sans-serif;}


/* header */
#header {position:relative;}
#header .container {display:flex;justify-content: space-between;width:1200px;margin:0 auto;line-height:100px;padding:0 15px;}
#header h1 {line-height: 90px;}
#header .gnb {display:flex;font-size:18px;font-weight: 400;}
#header .gnb .sub01 {height:20rem;}
#header .gnb:hover:after {height:230px;}
#header .gnb:hover .sub {height:230px;}
#header .gnb>li {position:relative;padding:0 35px;}
#header .gnb>li>a {display:block;}
#header .gnb>li:hover>a {color:#55a435;}

#header .gnb:after {content:"";background: #fff;display:block;width:100%;height:0;z-index: 1;position:absolute;top:100px;left:0;border-top: 1px solid #ddd;transition: 0.5s;}
#header .gnb>li .sub {overflow:hidden;position:absolute;top:100px;left:0;height:0;text-align:center;width:100%;z-index: 999;padding:20px 0 0 0;transition: 0.5s;font-size: 14px;}

#header .gnb>li .sub>li {line-height: 30px;}
#header .gnb>li .sub>li>a {display:block;}
#header .sub>li:hover>a {color:#55a435;font-weight: 500;}

span.des {display:block;font-size: 14px;margin-bottom:50px;}


/* main_visual */
#main_visual {position:relative;}
#main_visual .main_slider {position:relative;height:750px;color:#fff;}
#main_visual .main_slider .container {width:1200px;margin:0 auto;padding:0 15px;}
#main_visual .main_slider01 {background: url(../img/main_visual01.jpg) no-repeat center center/cover;}
#main_visual .main_slider02 {background: url(../img/main_visual02.jpg) no-repeat center center/cover;}
#main_visual .main_slider03 {background: url(../img/main_visual03.jpg) no-repeat center center/cover;}
#main_visual .main_slider04 {background: url(../img/main_visual04.jpg) no-repeat center center/cover;}

#main_visual .slick-dots {position:absolute;bottom:30px;left:50%;transform: translateX(-50%);display:flex;}
#main_visual .slick-dots>li.slick-active {background: #292929;}
#main_visual .slick-dots>li {background: #fff;opacity: 0.8;width:12px; height:12px;border-radius: 50%;border:none;margin:0 5px;}
#main_visual .slick-dots>li button {display:none;}

#main_visual .main_slider01 .container .des {position:absolute;top:50%;right:400px;transform:translateY(-50%);text-align:right;}
#main_visual .main_slider01 h2 {font-size: 40px; font-weight: 300;line-height:1.3em;margin-bottom:10px;}
#main_visual .main_slider01 .bold{display:block;font-size: 40px; font-weight: 600;color:#fff;margin-bottom: 30px;}
#main_visual .main_slider01 p{font-weight: 300;margin-bottom:60px;}
#main_visual .main_slider01 .btn {padding:13px 25px;background: #01803b; border-radius: 50px;width:155px;text-align:center;}

#main_visual .main_slider02 .container .des {position:absolute;top:50%;left:365px;transform:translateY(-50%);}
#main_visual .main_slider02 h2 {font-size: 40px; font-weight: 300;line-height:1.3em;margin-bottom: 30px;}
#main_visual .main_slider02 .bold{display:block;font-size: 45px; font-weight: 600;color:#fff;margin-bottom: 10px;}
#main_visual .main_slider02 p{font-weight: 300;margin-bottom:60px;}
#main_visual .main_slider02 .btn {padding:13px 25px;background: #548d17; border-radius: 50px;width:155px;text-align:center;}

#main_visual .main_slider03 .container .des {position:absolute;top:50%;right:400px;transform:translateY(-50%);text-align:right;}
#main_visual .main_slider03 h2 {font-size: 40px; font-weight: 300;line-height:1.3em;margin-bottom: 30px;line-height: 1.5em;}
#main_visual .main_slider03 h2 .bold{font-size: 40px; font-weight: 600;color:#5b3991;}
#main_visual .main_slider03 p{font-weight: 300;margin-bottom:60px;}
#main_visual .main_slider03 .btn {padding:13px 25px;background: #5b3991; border-radius: 50px;width:155px;text-align:center;}

#main_visual .main_slider04 .container .des {position:absolute;top:50%;right:400px;transform:translateY(-50%);text-align:right;}
#main_visual .main_slider04 h2 {font-size: 30px; font-weight: 300;line-height:1.3em;margin-bottom: 15px;}
#main_visual .main_slider04 .bold{display:block;font-size: 45px; font-weight: 600;color:#fff;margin-bottom: 30px;}
#main_visual .main_slider04 p{font-weight: 300;margin-bottom:60px;}
#main_visual .main_slider04 .btn {padding:13px 25px;background: #11b471; border-radius: 50px;width:155px;text-align:center;}


/* content01 - about */
#content01 {padding:150px 0;position:relative;}
#content01 .container {display:flex;justify-content:space-between;width:1200px;margin:0 auto;padding:0 15px;}
#content01 .title {color:#55a435;font-size: 30px;font-weight: 400;margin-bottom: 50px;padding-top:75px;}
#content01 strong {display:block;font-size: 20px;font-weight: 700;margin-bottom: 20px;letter-spacing: -0.025em;}
#content01 p {font-weight: 500;line-height: 1.5em;font-size: 14px;letter-spacing: -0.025em;}

#content01 .brand_img {width:585px;}
#content01 .line {position:absolute;top:225px;left:50%;transform:translateX(-50%);z-index: 999;}


/* content02 - food&drink */
#content02 {padding:100px 0 0 0;}
#content02 .container {position:relative;width:1200px;margin:0 auto;padding:0 15px;}
#content02 .title {color:#55a435;font-size: 30px;font-weight: 400;margin-bottom: 15px;}

#content02 span.des {display:block;font-size: 14px;margin-bottom:50px;}
#content02 .tabmenu {padding-bottom:950px;}
#content02 .tabmenu ul {display:flex;}
#content02 .tabmenu ul>li {padding:15px 30px 17px 30px;background: #fff;border:1px solid #55a435; border-radius:10px;text-align: center;font-weight:600;color:#55a435;margin-right:10px;letter-spacing: 0.05em;}
#content02 .tabmenu ul>li.on{background: #55a435;color:#fff;}
#content02 .tabmenu ul>li>a {display:block;width:100%;}

#content02 .tab_content {position:absolute;top:150px;left:15px;width:1170px;background: #fff;border-top:1px solid #55a435;z-index: 999;}

.tab_content_menu {position:absolute;top:0;left:0;height:100%;width:100%;text-align: center;display:flex;flex-wrap: wrap;justify-content: space-between;visibility: hidden;padding:20px 0 0 0;background: #fff;}
.tab_content_menu.on {visibility: visible;}

.tab_content figure {padding:60px 30px;}
.tab_content figure:hover img {transform: scale(1.05);}
.tab_content figure img{border-radius: 50%;margin-bottom: 35px;}
.tab_content figure .en {display:block;font-weight:400;margin-bottom:7px;font-size: 14px;}
.tab_content figure .ko {font-family: 'Noto Sans KR', sans-serif;display:block;font-size: 16px;font-weight:500;margin-bottom:20px;}
.tab_content figure .size {display:inline-block;background: #262626;border-radius: 50%;color:#fff;width:20px;height:20px;text-align: center;font-size:12px;line-height: 20px;transform:translateY(-2px);}
.tab_content figure .price {font-weight: 500;padding:0 10px 0 7px;}

#content02 .btn {display:block;margin:0 auto;padding:13px 25px;border:1px solid #55a435; border-radius: 50px;width:155px;text-align:center;color:#55a435;margin-bottom:150px;}
#content02 .btn:hover {background: #55a435;color:#fff;font-weight: 500;}


/* content03 - value */
#content03 {padding:212px 0 120px 0;background: #f7f7f7;width:100%;overflow:hidden;}
/*animate css 사용할때 박스에 overflow:hidden 설정해주기*/
#content03 .container {position:relative;width:1200px;margin:0 auto;padding:0 15px;text-align: center;}

#content03 h2 {color:#55a435;font-size: 32px;font-weight:700;margin-bottom: 125px;}
#content03 p {line-height: 1.6em;font-size: 14px;}

#content03 figure {}
#content03 figure img {position:absolute;top:-340px;left:50%;transform:translateX(-50%);}


/* content04 - location&delivery */
#content04 {padding:150px 0;}
#content04 .container {width:1200px;margin:0 auto;padding:0 15px;}
#content04 h2 {color:#55a435;font-size: 30px;font-weight: 400;margin-bottom: 15px;}
#content04 .con {display:flex;justify-content: space-between;text-align: center;}
#content04 .con img {margin-bottom: 30px;}
#content04 strong {display:block;font-size: 20px;font-weight: 500;margin-bottom: 10px;}
#content04 span {display:block;line-height:1.5em;margin-bottom: 50px;font-size: 14px;}
#content04 a.btn {margin:0 auto;padding:13px 25px;border:1px solid #55a435; border-radius: 50px;width:155px;font-size:14px;text-align:center;color:#55a435;margin-bottom:150px;}
#content04 a.btn:hover {background: #55a435;color:#fff;font-weight: 500;}


/* content05 - news&event */
#content05 {padding:100px 0;position:relative;}
#content05 .container {width:1200px;margin:0 auto;padding:0 15px;}
#content05 h2 {color:#55a435;font-size: 30px;font-weight: 400;margin-bottom:15px;}
#content05 span.des {display:block;font-size: 14px;margin-bottom:50px;}
#content05 .news_slider {}
#content05 .news_slider .news {position:relative;}
#content05 .news_slider .news .des:before {content:"";position:absolute;bottom:0;left:15px;display:block;width:370px;background: #000;opacity: 0.7;height:85px;z-index:-1;transform:translateX(-15px);}
#content05 .news_slider .news .des {position:absolute;bottom:0;left:0;color:#fff;font-size:14px;line-height: 1.5em;text-align: center;padding:20px 0;width:100%;z-index: 999;}

#content05 .container .slide_btn i{font-size:25px;background: #55a435;padding:5px;color:#fff;border-radius: 50%;text-align:center;cursor: pointer;}
#content05 .container .xi-angle-left-min {position:absolute;top:60%;left:50%;transform: translate(-50%, -50%);margin-left:-650px;}
#content05 .container .xi-angle-right-min {position:absolute;top:60%;left:50%;transform: translate(-50%, -50%);margin-left:650px;}

#content05 .news_slider figure {position:relative;}
#content05 .news_slider figure img {margin-top:40px;}
#content05 .news_slider .icon {position:absolute;top:5px;left:50%;transform:translate(-50%, -30px);display:block;padding:13px 22px 13px 25px; border-radius: 50px;width:155px;text-align:center;color:#fff;background:#55a435;font-size:14px;letter-spacing: 0.3em;}
