#wrap {}

#top_banner {background: #fef342;height:60px;text-align: center;}
#top_banner .container {position:relative; width:1200px; margin:0 auto; padding:0 15px;}
#top_banner .container p {line-height: 60px;font-weight: 400;}
#top_banner .container i.xi-close {position:absolute; top:23px; right:15px;}


#header {}
#header .container {display: flex;width:1200px;margin:0 auto;justify-content: space-between;padding:0 15px;line-height: 100px;}
#header .container h1 {}
#header .container nav {}
#header .container nav ul{display: flex;}
#header .container nav ul>li{font-size:18px;font-weight:400;}
#header .container nav ul>li~li {padding-left:30px;}
#header .container nav ul>li>a{display:block;}


#main_visual {}
#main_visual figure {position:relative;height:700px;color:#fff;text-align:center;}

#main_visual .main_slider01 {background:url(../img/main_visual01.jpg) no-repeat center center/cover;}
#main_visual .main_slider02 {background:url(../img/main_visual02.jpg) no-repeat center center/cover;}
#main_visual .main_slider03 {background:url(../img/main_visual03.jpg) no-repeat center center/cover;}

#main_visual .slogan {position:absolute;top:0;left:0;width: 1200px;padding:0 15px;}
#main_visual .slogan h2 {font-size: 36px; font-weight: 500;margin-bottom:20px;}
#main_visual .slogan p {font-weight: 100;}

#main_visual .sl01 {top:525px;left:50%;transform:translateX(-50%);}
#main_visual .sl02 {top:510px;left:70%;transform:translateX(-50%);}
#main_visual .sl03 {top:525px;left:50%;transform:translateX(-50%);}

#main_visual .slick-dots {display: flex;justify-content:center;}
#main_visual .slick-dots li {margin:24px 4px 0 4px;width:50px;height:6px;background: #d4d4d4;}
#main_visual .slick-dots .slick-active {background: #333;}
#main_visual .slick-dots li button{display:none;}


#main_visual .btn i{position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);font-size:70px;font-weight: 400;color:rgba(255,255,255,0.5);cursor: pointer;}

#main_visual .btn .xi-angle-left-thin {margin-left:-850px;}
#main_visual .btn .xi-angle-right-thin {margin-left:850px;}



#content01 {}
#content01 .container {display: flex; width:1200px; margin:150px auto; padding:0 15px;}

#content01 .box1 {width:570px;border:1px solid #b0b0b0;text-align: center;padding:45px 55px;margin-right:15px;}
#content01 .box1 h2 {font-size: 24px; font-weight: 400;margin-bottom:8px;color:#5b5b5b;}
#content01 .box1 .en {font-size: 14px; font-weight: 300;margin-bottom:30px;color:#5b5b5b;}
#content01 .box1 .opentime {font-size: 40px; font-weight: 300;margin-bottom:20px;color:#282828;}
#content01 .box1 .space {font-size: 14px; font-weight: 300;color:#fff;width:142px;padding:3px 5px 5px 5px;background: #282828;border-radius: 20px;margin:0 auto;}
#content01 .box1 .description {font-size: 14px; font-weight: 400;margin-top:45px;color:#282828;text-align: left;line-height:1.5em;}

#content01 .box2 {width:570px;border:1px solid #b0b0b0;text-align: center;padding:45px 55px;margin-left:15px;}
#content01 .box2 h2 {font-size: 24px; font-weight: 400;margin-bottom:8px;color:#5b5b5b;}
#content01 .box2 .en1 {font-size: 14px; font-weight: 300;margin-bottom:36px;color:#5b5b5b;}
#content01 .box2 .cancle {font-size: 24px; font-weight: 400;margin-bottom:60px;color:#282828;line-height:1.3em;}
#content01 .box2 .description {font-size: 14px; font-weight: 400;margin-top:45px;color:#282828;text-align: left;line-height:1.5em;}



#content02 {color:#282828;}
#content02 .container {display: flex; width:1200px; margin:150px auto; padding:0 15px;}

#content02 .title {margin-right:215px;}
#content02 .title h2 {font-size: 48px;font-weight: 400;margin-bottom: 20px;}
#content02 .title p {font-size: 24px;font-weight: 300;margin-bottom: 30px;}
#content02 .title i {font-size: 36px;font-weight: 300;}

#content02 .exhibition {border-left:1px solid #b0b0b0;padding:0 30px;}
#content02 .exhibition figure {margin-bottom:55px}
#content02 .exhibition figure img {margin-bottom:18px;}
#content02 .exhibition figure img:hover {transform:scale(1.02);filter: drop-shadow(5px 5px 5px #a2a2a2);transition: 0.5s;}
#content02 .exhibition figure strong {display:block;font-size: 18px;font-weight: 500;margin-bottom: 10px;}
#content02 .exhibition figure span {display:block;font-size: 14px;font-weight: 300;margin-bottom: 30px;}
#content02 .exhibition figure p {display:block;font-size: 14px;font-weight: 400;text-align: right;}



#content03 {position:relative;}
#content03 .container {position:relative;width:1200px; margin:0 auto; padding:0 15px;}
#content03 .title {}
#content03 .title h2 {font-size: 48px;font-weight: 400;margin-bottom: 20px;}
#content03 .title p {font-size: 16px;font-weight: 400;margin-bottom: 30px;width:170px;background: #292929;border-radius: 20px;padding:7px 15px 10px 15px;text-align:center;color:#fff;}
#content03 .title i {position:absolute;top:10px;right:15px;font-size: 36px;font-weight: 300;}

#content03 .calendar {display:none;position:absolute;top:0;right:75px;z-index: 999;}
#content03 .calendar.on {display:block;}

#content03 .pr_slider {display: flex;width:1200px;justify-content:space-between;margin-bottom:150px;}
#content03 .pr_slider figure {text-align:center;}
#content03 .pr_slider img {margin-bottom:30px;}
#content03 .pr_slider a {display:block;font-size:18px; font-weight:400;margin-bottom:15px; }
#content03 .pr_slider p {width:570px;font-weight:300;line-height: 1.2em;text-align:center;padding:0 25px;}
#content03 .btn i {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);z-index: 999;background: #f2f2f2;border-radius: 50%;padding:10px;font-size:20px;}

#content03 .btn .xi-angle-left-min {margin-left:-650px;}
#content03 .btn .xi-angle-right-min {margin-left:650px;}


#content04 {background:#f0f0f0;padding:130px 0;}
#content04 .container {width:1200px;margin:0 auto;text-align:center;}
#content04 .container .video {width:848px;height:480px;}
#content04 .container strong{display:block;font-size:16px; font-weight: 400; color:#33a6ff;margin-top:30px;}
#content04 .container h2{font-size:24px; font-weight: 500;margin-top:30px;}
#content04 .container p{font-size:16px; font-weight: 300;margin-top:15px;}


#content05 {color:#282828;padding:150px 0;}
#content05 .container {display: flex; justify-content:space-between;width:1200px; margin:0 auto; padding:0 15px;}
#content05 .title {}
#content05 .title h2 {font-size: 48px;font-weight: 400;margin-bottom: 20px;}
#content05 .title p {font-size: 24px;font-weight: 300;margin-bottom: 30px;}
#content05 .title i {font-size: 36px;font-weight: 300;}

#content05 .news {width:870px;background:#fafafa;padding:40px 45px;}
#content05 .news .news_title {display:flex;justify-content:space-between;}
#content05 .news .news_title a {display:block;line-height:50px;}
#content05 .news .news_title i {transform:rotate(90deg);}


#footer {background: #545454; color:#f7f7f7;padding:70px 0 100px 0;}
#footer .container {width:1200px; margin:0 auto;padding:0 15px;}
#footer .footer_menu01 {display:flex;justify-content: space-between;border-bottom:1px solid #6f6f6f;}
#footer .footer_menu01 ul {display:flex;}
#footer .footer_menu01 ul:first-child>li {padding-right:20px;line-height: 45px;}
#footer .footer_menu01 ul>li {padding-left:5px;}
#footer .footer_menu01 ul>li i{background: #292929;padding:10px;border-radius: 50%;font-size:25px;margin-bottom:10px;}
#footer .footer_menu01 ul>li i:hover{background: #f7f7f7;color:#292929;}

#footer .footer_menu02 {display:flex;justify-content: space-between;}
#footer .footer_menu02 .info {line-height: 1.2em;}
#footer .footer_menu02 .info strong {display:block;margin:25px 0 10px 0;}
#footer .footer_menu02 .info span {display:block;font-size:14px;font-weight: 300;}
#footer .footer_menu02 .info .copyright {margin-top:55px;}
#footer .footer_menu02 .site_btn {display:block;background: #b6b6b6; color:#292929;width:250px;height:40px;text-align: center;line-height:40px;margin-top:25px;font-weight: 400;letter-spacing: 0.3em;}

#right_banner {position:fixed;top:0;right:-300px;background: #fff; width:300px;height:100%;z-index: 999;transition: 0.5s;border-left:1px solid #ddd;}
#right_banner.on {right:0;}
#right_banner h2 {color:#292929;font-size: 18px;font-weight: 500;letter-spacing: 0.5em;text-align:center;padding:70px 0 35px 0;border-bottom: 1px dashed #ddd;}
#right_banner ul{padding:35px 25px;text-align:center;}
#right_banner ul>li {background: #f7f7f7; width:250px;padding:20px 0;}
#right_banner ul>li:first-child {background: #e8eef2;}
#right_banner ul>li:nth-child(2) {margin:19px 0;}
#right_banner ul>li>i {display:block;font-size:30px; color:#292929;margin-bottom:20px;}
#right_banner ul>li strong {display:block;font-size:18px; color:#292929;font-weight: 400;margin-bottom:10px;}
#right_banner ul>li p {font-size:14px;color:#292929;font-weight: 300;line-height: 1.2em;}

#right_banner .banner_btn01 {background: #72889f;padding:17px 0;width:250px;margin:0 25px 12px 25px;color:#fff;text-align:center;font-size:18px;font-weight:200;}
#right_banner .banner_btn02 {background: #292929;padding:17px 0;width:250px;margin:0 25px 35px 25px;color:#fff;text-align:center;font-size:18px;font-weight:200;}
#right_banner span {display:block;color:#292929;padding:30px 20px;line-height: 24px;text-align:center;border-top:1px dashed #ddd;}

#right_banner i.xi-angle-left-min {position:absolute;top:300px;left:-40px;background: #333;color:#fff;padding:5px;font-size: 30px;}
#right_banner i.xi-angle-left-min.on {transform: rotate(-180deg);left:-41px;}