@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dc:#0c0c0c;
    --bg:#e1e5ea;
    --lc:#fff;
    --db:#3e4648;
    --lbg:#e2e0dd;
}
.section {font-family: 'Raleway', sans-serif;}


#header {}
#header h1 {width:100px;position:absolute;top:20px;left:20px;z-index:999;}
#header h1 a {width:100%;}


/* section01 */
.section01 {background:var(--bg);}
.section01 .title {position:absolute;top:50%;left:50%;text-align:center;transform:translate(-50%, -50px);opacity:0;}
.section01 .title h2 {font-size:40px;font-weight:100;margin-bottom:20px;}
.section01 .title h3 {font-size:20px;font-weight:700;}

.section01.on .title {transform:translate(-50%, 0);opacity:1;transition:1s;}

/* section02 */
.section02 {background:url(../img/bg01.jpg) no-repeat center center;background-size: cover;}
.section02 .content {width:500px;margin-left:200px;color:var(--lc);line-height:1.2;text-align:center;transform:translateY(-50px);opacity:0;}
.section02 .content h2 {font-size:60px;font-weight:200;}
.section02 .content strong {display:block;margin-bottom:25px;font-size:24px;font-weight:200;}
.section02 .content span {display:block;font-size:25px;font-weight:200;}

.section02.on .content {transform:translateY(0);opacity:1;transition:1s;}

/* section03 */
.section03 .cover {display:flex;justify-content:space-between;}
.section03 .sec {width:50%;position:relative;}
.section03 .bg_sec {background:url(../img/bg02.jpg) no-repeat top center;background-size:cover;height:100vh;}

.section03 .content {width:100%;position:absolute;top:30%;left:10%;transform:translateY(-50px);opacity:0;}
.section03 h2 {font-size:40px;font-weight:100;margin-bottom:90px;}
.section03 p {font-size:14px;line-height:1.3;margin-bottom:30px;}
.section03 strong {display:block;font-size:16px;letter-spacing:0.3em;}

.section03.on .content {transform:translateY(0);opacity:1;transition:1s;}


/* section04 */
.section04 .cover {display:flex;justify-content:space-between;}
.section04 .sec {width:50%;position:relative;}
.section04 .text_sec {background:var(--lbg);}
.section04 .bg_sec {background:url(../img/bg03.jpg) no-repeat top center;background-size:cover;height:100vh;}

.section04 .content {width:100%;position:absolute;top:30%;left:15%;transform:translateY(-50px);opacity:0;}
.section04 h2 {font-size:40px;font-weight:100;margin-bottom:70px;}
.section04 .content .part {margin-bottom:20px;}
.section04 .content .part01 {margin-bottom:40px;}
.section04 .content .part i {color:#c1bdb8;font-size:18px;margin-right:5px;}
.section04 .content .part strong {font-weight:700;}

.section04.on .content {transform:translateY(0);opacity:1;transition:1s;}


/* section05 */

.section05 h1 {width:200px;margin:0 auto 50px auto;transform:translateY(-50px);opacity:0;}
.section05 p {text-align:center;line-height:1.4;transform:translateY(-50px);opacity:0;}

.section05.on h1 {transform:translateY(0);opacity:1;transition:0.5s;}
.section05.on p {transform:translateY(0);opacity:1;transition:1s 0.5s;}


/* section06 */
.section06 {background:url(../img/bg04.jpg) no-repeat top center;background-size:cover;}
.section06 h2 {font-size:50px;font-weight:100;color:rgba(255,255,255,0.4);position:absolute;top:50%;right:5%;transform:translateY(-50px);opacity:0;}
.section06.on h2 {transform:translateY(0);opacity:1;transition:1s 0.5s;}

/* section07 */
.section07 {background:#c9c6c0;}
.section07 h2 {text-align:center;font-size:40px;font-weight:100;margin-bottom:70px;transform:translateY(-50px);opacity:0;}
.section07 .content {display:flex;justify-content:center;position:relative;transform:translateY(-50px);opacity:0;}
.section07 .con {width:400px;height:400px;text-align:center;margin:0 160px;padding:130px 50px;border-radius:50%;background:rgba(255, 251, 246, 0.2);cursor:pointer;}
.section07 .con strong{display:block;margin-bottom:20px;font-size:20px;font-weight:600;}
.section07 .con span{display:block;line-height:1.6;font-size:16px;}
.section07 .con02 {width:400px;height:400px;position:absolute;top:0;left:50%;transform:translateX(-50%);margin:0;}

.section07 .txt {position:absolute;bottom:180px;left:50%;text-align:center;line-height:1.6;transform:translate(-50%, 50px);font-size:18px;opacity:0;}

.section07 .con:hover {background:rgba(83, 73, 60, 0.2);color:var(--lc);transition:0.3s;}
.section07.on h2 {transform:translateY(0);opacity:1;transition:0.5s;}
.section07.on .content {transform:translateY(0);opacity:1;transition:1s 0.5s;}
.section07.on .txt {transform:translate(-50%, 0);opacity:1;transition:1s 1.5s;}


/* section08 */
.section08 {background:url(../img/bg05.jpg) no-repeat center center;background-size:cover;}
.section08 h2 {font-size:70px;font-weight:200;margin:0 auto 10px auto;color:var(--lc);text-align:center;transform:translateY(50px);opacity:0;}
.section08 h3 {font-size:24px;font-weight:200;margin:0 auto;color:var(--lc);text-align:center;transform:translateY(50px);opacity:0;}

.section08.on h2 {transform:translateY(0);opacity:1;transition:1s;}
.section08.on h3 {transform:translateY(0);opacity:1;transition:0.5s 1s;}


/* section09 */
.section09 {background:var(--bg);}
.section09 .cover {overflow:hidden;width:100%;height:100vh;}
/*.section09 .btn {font-size:30px;}
.section09 i.xi-angle-left-thin {position:absolute;top:50%;left:-60px;transform:translateY(-50%);cursor:pointer;}
.section09 i.xi-angle-right-thin {position:absolute;top:50%;right:-60px;transform:translateY(-50%);cursor:pointer;}*/
.section09 figure {position:relative;}
.section09 figure strong {display:block;color:var(--dc);font-size:13px;line-height:1.2;position:absolute;top:20px;right:20px;text-align:right;}
.section09 figure strong.lc {color:var(--lc);}

/* section10 */
.section10 {background:var(--bg);}
.section10 .cover {overflow:hidden;width:100%;height:100vh;}
.section10 figure {position:relative;}
.section10 figure strong {display:block;color:var(--dc);font-size:13px;line-height:1.2;position:absolute;top:20px;right:20px;text-align:right;}
.section10 figure strong.lc {color:var(--lc);}


/* section11 */
.section11 {background:url(../img/bg06.jpg) no-repeat center center;background-size:cover;}
.section11 h2 {font-size:300px;font-weight:200;margin:0 auto 10px auto;color:var(--lc);text-align:center;transform:translateY(50px);opacity:0;margin-top:500px;}

.section11.on h2 {transform:translateY(0);opacity:1;transition:1s;}