@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


#header h1 {position:fixed; top:50px; left:50px;font-family: 'Oswald', sans-serif;z-index: 999;}

.section {background: #fff url(../img/dg03.png);}
.section:nth-child(even) {background: #fff url(../img/dg04.png);}
.container {text-align: center;}

.sc01 h2 {font-family: 'Oswald', sans-serif;font-size:100px;margin-bottom:50px;transform: translateY(100px);opacity: 0;transition: 0.8s;}
.sc01.on h2 {transform: translateY(0);opacity: 1;}

.sc01 p {font-family: 'Oswald', sans-serif;font-size:16px;font-weight:100;transform: translateY(100px);opacity: 0;transition: 0.8s 0.5s;}
.sc01.on p {transform: translateY(0);opacity: 1;}


.sc01 figure {width: 400px;margin:0 auto;margin-bottom: 30px;border-radius: 50%;overflow:hidden;transform:scale(0.3);opacity: 0;}

/*.sc01 figure {width: 400px;margin:0 auto;margin-bottom: 30px;border-radius: 50%;overflow:hidden;transform:scale(0.3);opacity: 0;position:relative;}
.sc01 figure:before {content:"\e91c";font-family: xeicon!important;display:block;width:100%;height:100%;position:absolute;top:0;left:0;background: url(../img/dg01.png);opacity:1;color:#333;font-size: 80px;}*/

.sc01.on figure {transform:scale(1);opacity: 1;transition: 0.8s 1s;}
.sc01 figure img {width:100%;}